{% extends 'industrial/base.html' %}
{% load static %}
{% load bulletin_board_tags %}


{% block page_content %}

    {% if is_agree_error %}
        <h4 class="text-center text-danger " >Вы согласны с офертой и принимаете все условия?</h4>
{#        <br>#}
    {% endif %}

    {% industrial_afferta %}

    {% if not user.industrial_worker.is_agree_with_agreement %}

        <section class="mt-100">

            <form method="post" class="d-flex justify-content-center align-items-center">
                {% csrf_token %}

                <div class="form-check form-check-inline mx-5">
                    <input class="form-check-input" id="agreement_checkbox" type="checkbox" name="is_agree">
                    <label class="form-check-label" for="agreement_checkbox">Я согласен с офертой и принимаю все
                        условия! </label>
                </div>

                <button type="submit" href="#" class="btn btn-primary">Отправить</button>

            </form>
        </section>
    {% endif %}

{% endblock %}