{% load static %}
{% load bulletin_board_tags %}

<!doctype html>
<html lang="en" class="pxp-root">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'industrial/' %}images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'industrial/' %}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/animate.css">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/style.css">
    <link rel="stylesheet" href="{% static 'industrial/' %}css/form-validation.css">

    <title>{% block page_title %}Title{% endblock %}</title>
</head>

<body>
<div class="pxp-preloader"><span>Загрузка...</span></div>

<header class="pxp-header fixed-top pxp-no-bg">
    <div class="pxp-container">
        <div class="pxp-header-container">
            <div class="pxp-logo-nav-container">
                <div class="pxp-logo">
                    <a href="index.html" class="pxp-animate"><span
                            style="color: var(--pxpMainColor)">job</span>ny.ru</a>
                </div>
                <div class="pxp-nav-trigger navbar d-xl-none flex-fill">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav"
                       aria-controls="pxpMobileNav">
                        <div class="pxp-line-1"></div>
                        <div class="pxp-line-2"></div>
                        <div class="pxp-line-3"></div>
                    </a>
                    <div class="offcanvas offcanvas-start pxp-nav-mobile-container" tabindex="-1" id="pxpMobileNav">
                        <div class="offcanvas-header">
                            <div class="pxp-logo">
                                <a href="index.html" class="pxp-animate"><span
                                        style="color: var(--pxpMainColor)">job</span>ny.ru</a>
                            </div>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <nav class="pxp-nav-mobile">
                                <ul class="navbar-nav justify-content-end flex-grow-1">
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link" data-bs-toggle="dropdown">Главная</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link" data-bs-toggle="dropdown">Каталог
                                            вакансий</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link" data-bs-toggle="dropdown">Компании</a>

                                    </li>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link" data-bs-toggle="dropdown">Новости</a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a role="button" class="nav-link" data-bs-toggle="dropdown">Предпринимателям
                                        </a>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                    <ul>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Вакансии</a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Компании</a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Новости</a>

                        </li>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Предпринимателям</a>

                        </li>


                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>

{% block page_content %}
{% endblock %}

<footer class="pxp-main-footer mt-100">
    <div class="pxp-main-footer-top pt-100 pb-100" style="background-color: var(--pxpMainColorLight);">
        <div class="pxp-container">
            <div class="row">
                <div class="col-lg-6 col-xl-5 col-xxl-4 mb-4">
                    <div class="pxp-footer-logo">
                        <a href="index.html" class="pxp-animate"><span
                                style="color: var(--pxpMainColor)">job</span>ny.ru</a>
                    </div>
                    <div class="pxp-footer-section mt-3 mt-md-4">
                        Звонок по РФ бесплатный

                        <div class="pxp-footer-phone">8 800 700 33 21</div>
                    </div>
                    <div class="mt-3 mt-md-4 pxp-footer-section">
                        <div class="pxp-footer-text">


                            Ул. Рубаненко 4, 360,<br>
                            г. Набережные Челны,<br>
                            Республика Татарстан
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 col-xxl-8">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>ООО "РостДжоб"</h3>
                                <ul class="pxp-footer-list">
                                    <li>ИНН 16545586564</li>
                                    <li>ОГРН 2435345454</li>
                                    <li>КПП 354346457768</li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>Для соискателя</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="candidates-list-1.html">Главная</a></li>
                                    <li><a href="company-dashboard.html">Вакансии</a></li>
                                    <li><a href="company-dashboard-new-job.html">Компании</a></li>
                                    <li><a href="company-dashboard-new-job.html">Соглашение</a></li>

                                    <li><a href="company-dashboard-candidates.html">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>Для юр. лиц</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="pricing.html">О нас</a></li>
                                    <li><a href="about-us.html">Разместить вакансию</a></li>
                                    <li><a href="pricing.html">Услуги</a></li>

                                    <li><a href="pricing.html">Новости</a></li>

                                    <li><a href="blog-list-1.html">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-xxl-3 mb-4">
                            <div class="pxp-footer-section">
                                <h3>Документы</h3>
                                <ul class="pxp-footer-list">
                                    <li><a href="faqs.html">Пользовательское <br>соглашение</a></li>
                                    <li><a href="sign-in.html">Защита персональных <br>данных</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pxp-main-footer-bottom" style="background-color: black; color: white">
        <div class="pxp-container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto">
                    <div class="pxp-footer-copyright pxp-text-light">© 2022 Jobox.ru Все права защищены.</div>
                </div>
                <div class="col-lg-auto">
                    <div class="pxp-footer-social mt-3 mt-lg-0">
                        <ul class="list-unstyled" style="color: white">
                            <li><a href="#" style="color: white"><span class="fa fa-vk"></span></a></li>
                            <li><a href="#" style="color: white"><span class="fa fa-telegram"></span></a></li>
                            <li><a href="#" style="color: white"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="#" data-bs-toggle="modal" data-bs-target="#pxp-signin-modal"
                                   style="color: white"><span class="fa fa-facebook"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'industrial/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'industrial/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'industrial/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'industrial/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'industrial/js/nav.js' %}"></script>
<script src="{% static 'industrial/js/main.js' %}"></script>
<script src="{% static 'industrial/js/test.js' %}"></script>

{% yandex_metric %}

</body>

</html>