{% extends 'bulletin_board/base.html' %}
{% load static %}
{% load core_tags %}

{% block page_content %}
    <section class="pxp-page-header-simple">
        <div class="pxp-container">
            <h1>Каталог компаний</h1>
            <div class="pxp-hero-subtitle pxp-text-ligh">В нашей базе представлены только проверенные юр. лица</div>
            <div class="pxp-hero-form pxp-hero-form-round pxp-large mt-3 mt-lg-4 pxp-has-border">

                <form class="row gx-3 align-items-center" id="search_form">
                    <input type="hidden" name="page" id="pagination_current_page">

                    <div class="col-12 col-lg">
                        <div class="input-group mb-3 mb-lg-0">
                            <span class="input-group-text">
                                <span class="fa fa-search"></span>
                            </span>
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Введите название компании"
                                    name="name"
                                    value="{{ rq.name }}"
                            >
                        </div>
                    </div>


                    <div class="col-12 col-lg-auto">
                        <button type="submit">Найти</button>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <section class="mt-4 mt-lg-5 pt-100 pb-100" style="background-color: var(--pxpMainColorLight);">
        <div class="pxp-container">
            <div class="pxp-jobs-list-top">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h2>
                            <span class="pxp-text-light">Всего</span>
                            {{ companies_count }}
                            <span class="pxp-text-light">компаний</span>
                        </h2>
                    </div>

                </div>
            </div>

            <div class="row">

                {% for company in companies_list %}

                {% if company.jobs_count != 0 %}

                    <div class="col-md-6 col-xl-4 col-xxl-3 pxp-companies-card-1-container" style="word-wrap: break-word">
                        <div class="pxp-companies-card-1 pxp-has-shadow">
                            <div class="pxp-companies-card-1-top">

                                <a
                                        href="{% url 'bulletin_board:company_view' company_id=company.id %}"
                                        class="pxp-companies-card-1-company-logo"

                                        {% if company.brand_logo %}
                                        style="background-image: url({{ company.brand_logo.url }});"
                                        {% else %}
                                        style="background-image: url({% system_image_company_default_logo_url %});"
                                        {% endif %}

                                ></a>
                                <a
                                        href="{% url 'bulletin_board:company_view' company_id=company.id %}"
                                        class="pxp-companies-card-1-company-name">
                                    {{ company.name }}
                                </a>
                                <div class="pxp-companies-card-1-company-description pxp-text-light">
                                    {{ company.company_description | slice:":200" }}...
                                </div>
                            </div>
                            <div class="pxp-companies-card-1-bottom">
                                <a
                                        href="{% url 'bulletin_board:company_view' company_id=company.id %}"
                                        class="pxp-companies-card-1-company-jobs"
                                >
                                    {{ company.jobs_count }} вакансий
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}

            </div>

            <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                <div class="col-auto">

                    <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                        <ul class="pagination pxp-pagination">
                            {% for pagination_page in rq.pagination_range %}
                                {% if pagination_page > 0 %}
                                    <li
                                            class="page-item {% if pagination_page == rq.page %}active{% endif %}"
                                            aria-current="page"
                                            onclick="document.getElementById('pagination_current_page').value={{ pagination_page }};document.getElementById('search_form').submit()"
                                    >
                                        <span class="page-link">{{ pagination_page }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}


                        </ul>
                    </nav>


                </div>

            </div>
        </div>
    </section>
{% endblock %}